In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import cv2

In [8]:
df = pd.read_csv("data/mTBI/eye_motion_trace/00029_U_4_19_2018_9_18_9_V001.csv")

In [15]:
(786431+1)**.5

886.8100134752651

In [26]:
def average_dataframe(df, n):
    return df.groupby(df.index // n).mean()

def process(data):
    df = data[["horizontal_motion[deg]", "vertical_motion[deg]"]]
    df.columns = ["x", "y"]
    df = average_dataframe(df, 16)
    df["frame"] = df.index
    return df[["frame", "x", "y"]]

def jpg_to_df(path):
    "Take in a folder of jpgs and return a dataframe, one row per frame, one column per pixel, in grayscale"
    files = os.listdir(path)
    files.sort()
    frames = []
    for file in files:
        img = cv2.imread(path+file, 0)
        frames.append(img.flatten())
    df = pd.DataFrame(frames)
    df.columns = [f"pixel_{x}" for x in df.columns]
    return df
    
def create_one_observation_df(name):
    motion = process(pd.read_csv(f"data/mTBI/eye_motion_trace/{name}.csv"))
    frames = jpg_to_df(f"data/mTBI/video_frames/output_{name}.avi/")
    return pd.concat([motion, frames], axis=1)
create_one_observation_df("00029_U_4_19_2018_9_18_9_V001")

,frame,x,y,pixel_0,pixel_1,pixel_2,pixel_3,pixel_4,pixel_5,pixel_6,...,pixel_262134,pixel_262135,pixel_262136,pixel_262137,pixel_262138,pixel_262139,pixel_262140,pixel_262141,pixel_262142,pixel_262143
0,0,-0.012250,0.102619,95,61,56,31,60,47,76,...,57,66,45,55,28,36,24,29,42,32
1,1,-0.012725,-0.022312,94,60,56,36,66,49,72,...,56,57,40,59,22,34,26,24,43,30
2,2,-0.011888,-0.018156,95,60,55,35,67,50,72,...,58,53,49,43,51,82,29,59,13,35
3,3,-0.004025,-0.012538,60,53,56,44,49,49,43,...,60,64,48,50,41,29,67,30,56,46
4,4,0.007687,-0.015356,66,70,43,46,51,58,45,...,22,54,46,45,42,48,30,30,20,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,295,-0.181837,-0.084119,54,44,48,51,50,63,72,...,32,32,50,21,50,46,35,20,66,49
296,296,-0.195231,-0.080019,47,53,72,58,44,57,72,...,36,43,45,60,46,29,39,15,9,58
297,297,-0.208969,-0.075331,58,53,46,52,76,52,62,...,52,26,56,46,37,44,45,20,21,31
298,298,-0.215206,-0.077856,46,42,72,70,51,59,45,...,40,24,48,49,56,86,74,34,41,100
299,299,-0.222394,-0.156938,64,67,67,60,46,69,43,...,45,39,55,42,54,35,51,20,38,85